/* Variáveis */

:root {
    --primary-color: #b6775c;
    --secondary-color: #ffffff;
    --tertiary-color: #d5b6a2;

    --text-color-primary: #ffffff;
    --text-color-secondary: #000000;

    --spacing: 0.25rem;
    --transition: all 0.2s linear;
    --dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.56);
}

/* Estilos Gerais */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: 'Questrial';
    font-size: 62.5%;
}

.navbar-logo {
    font-family: 'Italianno';
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 3.4rem;
    padding-left: 2rem;
}

.button-icon {
    border: transparent;
    background: transparent;
}

.whatsapp-button {
    position: fixed;    
    right: 15px;
    bottom: 12px;
    width: 60px;
    height: 60px;
    border: transparent;
    background: rgb(15, 207, 15);
    border-radius: 100%;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    text-align: center;
    animation: scaleButton 1s infinite;
}

@keyframes scaleButton {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* Leafs */
.leaf1 {
    position: absolute;
    opacity: 45%;
    left: 2rem;
    bottom: 18rem;
    z-index: -1;
}

.leaf2 {
    position: absolute;
    opacity: 20%;
    right: 1rem;
    top: 130rem;
    z-index: -1;
}

.leaf3 {
    position: absolute;
    opacity: 25%;
    left: 2rem;
    top: 245rem;
    z-index: -1;
}

.leaf4 {
    position: absolute;
    opacity: 40%;
    right: .4rem;
    top: 190rem;
    z-index: 1;
}

@media screen and (min-width: 725px) {
    .leaf1, .leaf2, .leaf3, .leaf4 {
        display: none;
    }
}

/* Navbar */

.navbar {
    position: fixed;
    background: var(--primary-color);
    padding: 3.8rem;
    box-shadow: var(--dark-shadow);
    width: 100%;
    z-index: 3;
    top: 0;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-button {
    background: transparent;
    border: transparent;
    color: var(--secondary-color);
    font-size: 3rem;
    cursor: pointer;
    transition: var(--transition);
}

.navbar-button:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

.navbar-list {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.navbar-list--show-links {
    height: 29rem;
}

.navbar-list-link {
    display: block;
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.6rem;
    color: var(--secondary-color);
    transition: var(--transition);
}

.navbar-list-link:hover {
    background-color: var(--tertiary-color);
    padding-left: 3.6rem;
}

.navbar-icons {
    display: none;
}

@media screen and (min-width: 992px) {
    .navbar-button {
        display: none;
    }

    .navbar-list {
        height: auto;
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.6rem;
    }

    .navbar-list-link:hover {
        background: none;
        padding-left: 1.6rem;
        color: var(--tertiary-color);
    }
}

/* About */

#about {
    padding: 0;
    position: relative;
    min-height: calc(100vh - 8rem);
    margin-top: 8rem;
}

.about-wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    max-width: 37rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.3rem;
    font-weight: 400;
}

.about-text-tcc {
    font-weight: 600;
}

/* Contact */

.contact {
    padding-top: 4rem;
}

.contact-title {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    max-width: 37rem;
}

.contact-title-2 {
    display: flex;
    flex-direction: column;
}

.contact-items {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-icon {
    color: var(--primary-color);
    margin-right: 3rem;
    font-size: 3rem;
    font-weight: 900;
    transition: var(--transition);
}

.contact-icon:hover {
    color: var(--tertiary-color);
}

@media screen and (min-width: 725px) {
    #about {
        display: flex;
        flex-direction: row;
    }

    .about-content {
        width: 40vw;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about-wallpaper {
        height: 100%;
        width: 40%;
    }

    .about-logo {
        padding-top: 2rem;
    }

    .contact {
        display: none;
    }

    .about-logo img {
        width: 50%;
    }

    .about-text {
        max-width: 35rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 825px) {
    .about-wallpaper {
        width: 50%;
    }

    .about-logo img {
        width: 65%;
    }

    .contact {
        display: block;
        padding-top: 8rem;
    }

    .about-text {
        max-width: 45rem;
    }
}

/* Services */

#services {
    padding: 5rem;
}

.services-underline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary-color);
}

.services-title {
    font-family: "Italianno";
    font-size: 4.4rem;
    font-weight: 500;
}

.services-items {
    padding-left: 3.4rem;
    line-height: 2.6rem;
    font-size: 2rem;
    list-style: disc;
}

/* Benefits */

#benefits {
    background: var(--tertiary-color);
    padding: 5rem;
}

.benefits-title {
    font-family: "Italianno";
    font-size: 4.4rem;
    font-weight: 500;
}

.benefits-items {
    padding-left: 3.4rem;
    line-height: 2.6rem;
    font-size: 2rem;
    list-style: disc;
}

@media screen and (min-width: 725px) {
    #services {
        width: 50%;
    }

    .services-underline {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #benefits {
        width: 50%;
    }
}

/* Approach and Depositions */

#approach {
    padding: 5rem;
}

.approach-title {
    font-family: "Italianno";
    font-size: 4.4rem;
    font-weight: 500;
    padding-bottom: 2.4rem;
}

.approach-description {
    padding-left: 3.4rem;
    line-height: 2.6rem;
    font-size: 2rem;
}

#depositions {
    padding: 5rem;
    background: var(--tertiary-color);
    min-height: 500px;
}

.depositions-title {
    font-family: "Italianno";
    font-size: 4.4rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

@media screen and (min-width: 725px) {
    #approach {
        width: 50%;
        background: var(--tertiary-color);
    }

    #depositions {
        width: 50%;
        background: white;
    }

    .container-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

/* Footer */

.footer {
    color: white;
    background: var(--primary-color);
    text-align: center;
    padding: 4rem;
    font-size: 1.4rem;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.footer-icon {
    color: white;
    padding: 1rem;
    line-height: 2.2rem;
    text-decoration: none;
    transition: var(--transition);
}

.footer-icon:hover {
    color: var(--tertiary-color);
}

.footer-icon {
    color: white;
    align-items: center;
    font-size: 2.8rem;
    transition: var(--transition);
}

/* Slides Style */

.hidden {
    display: none;
}

.texts-html {
  display: none;
  position: absolute;
}

.radio-items {
    width: 100%;
    height: 7%;
    overflow: hidden;
}

.slide-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}

.fa-user {
    padding-right: 1rem;
    font-size: 3rem;
}

.slide-names {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.slide-description {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: left;
}

.fa-star {
    font-size: 1.6rem;
    color: yellow;
}

/* Form */

.container-3 {
    background-image: linear-gradient(to right, rgba(112, 64, 46, 0.808), rgba(175, 115, 93, 0.719)), url(../Assets/form-wallpaper.jpg);
    background-size: cover;
    text-align: center;
    padding: 0 auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.form-text {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
}

.form-underline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    padding-bottom: 4rem;
    color: white;
}

.form {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 2rem;
    letter-spacing: .10rem;
}

.form form input {
    width: 60%;
    height: 3rem;
    padding: .4rem;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.form-button {
    width: 60%;
    height: 4rem;
    background: var(--tertiary-color);
    border: 2px solid var(--text-color-secondary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (min-width: 725px) {
    .container-3 {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
    }

    .form-texts {
        width: 50%;
    }

    .form-text {
        font-size: 2.8rem;
        justify-content: center;
        align-items: center;
        padding-top: 6rem;
    }

    .form form input {
        height: 3.4rem;
    }

    .form-text-2 {
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 50%;
    }
}

/* Carousel */

.item {
    max-height: 45rem;
}

@media screen and (min-width: 500px) {
    .item {
        max-height: 50rem;
    }
}

@media screen and (min-width: 600px) {
    .item {
        max-height: 20rem;
    }
}

@media screen and (min-width: 720px) {
    .item {
        max-height: 23rem;
    }
}

@media screen and (min-width: 810px) {
    .item {
        max-height: 25rem;
    }
}

@media screen and (min-width: 875px) {
    .item {
        max-height: 29rem;
    }
}

@media screen and (min-width: 1000px) {
    .item {
        max-height: 24rem;
    }
}

@media screen and (min-width: 1125px) {
    .item {
        max-height: 28rem;
    }
}

@media screen and (min-width: 1310px) {
    .item {
        max-height: 33rem;
    }
}

@media screen and (min-width: 1530px) {
    .item {
        max-height: 39rem;
    }
}

@media screen and (min-width: 1815px) {
    .item {
        max-height: 47rem;
    }
}

/* Location */

.location {
    display: flex;
    flex-direction: column;
    background: var(--tertiary-color);
    align-items: center;
    justify-content: center;
}

.location-map {
    position: relative;
    width: 90%;
    height: 40rem;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}

.location-title {
    color: #ffffff;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Italianno';
}

.location-description {
    padding: 1rem 0;
    font-weight: 600;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

@media screen and (min-width: 992px) {
    .location-map {
        width: 70%;
    }
}